:root {
    --accent: rgb(117,16,247); 
    --bodycolor: white;
    --textcolor: black;
}

*{
    font-family: "Courier", sans-serif;;
    padding: 0px;
    margin: 0px;
}

body{
    background: var(--bodycolor);
    color: var(--textcolor)
}

.hidenrotate{
    transform: rotateY(180deg);
    transition: all 1s;
    display: none;
}
.shownrotate{
    transform: rotateY(180deg);
    transition: all 1s;
    display: block;
}

.theme__type{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 3px;
}

.theme__type:hover{
    border-left: 1px solid white;
}

.theme__type__colors>p {
    height: 20px;
    width: 70px;
    margin: 5px;
}

.theme__type__colors {
    display: flex;
}

/* Flip text */


.item {
    margin: auto;
  text-align: center;
    width: 120px;
    padding: 1px;
  color: var(--accent);

    /* background: grey;*/
}
 .item.flipped {
  -webkit-transform: rotatex(-180deg);
}
 .item {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
 .item .face {
  position: absolute;
  -webkit-backface-visibility: hidden ;
    z-index: 2;
    text-align: center;
    line-height: 200px;
}
 .item .front {
  position: absolute;
  z-index: 1;
    cursor: pointer;
}
.back {
  -webkit-transform: rotatex(-180deg);
    cursor: pointer;
    color: white;
    background-color: var(--accent);

}

/* Flip text end */

.header{
    z-index: 1;
    position: fixed;
    left: 0px;
    right: 0px;
    background: var(--bodycolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: var(--accent);
background: linear-gradient(90deg, rgba(117,16,247,1) 0%, rgba(0,0,0,0) 98%); */
    padding: 15px;
}

#fliptext{
    transition: all 0.5s;   
}


.header__left{
    color:  var(--accent);
}

.header__left>a>h2{
    background-color: var(--accent);
    color: white;
    padding:  5px;
}
.header__left>a>h3{
    color: var(--accent);
}

.header__right{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__button{
    background-color: transparent;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--accent);
    color: var(--accent);
    cursor: pointer;
    transition: all  0.5s;
    width: 70px
}

.header__button:hover {
    background-color: var(--accent);
    color:  white
}

.header__right>a>.fab {
    transition: all 0.5ms;
    font-size: 25px;
    
}


.welcome{
    padding-top: 150px;
    text-align: center;
}

.welcome>h2{
        display: flex;
    font-weight: 100;
    margin: 40px auto;
    width: 460px;
    justify-content: space-between;
}

.welcome>img{
    width: 250px;
    border-radius: 40px;
}

.introduction,.companies{
    text-align: center;
    margin-top: 70px;
}

.introduction>img{
    position: relative;
    bottom: -20px;
    width: 600px;
}


.introduction>svg{
    position: relative;
    bottom: -20px;
    width: 600px;
}

.introduction>svg>g>g>path {
  stroke: var(--accent);
  fill: var(--bodycolor)
}

.introduction>svg>g>g>ellipse {
  stroke: var(--accent);
  fill: var(--bodycolor)
}

.introduction>svg>g>g>rect {
  stroke: var(--accent);
  fill: var(--bodycolor)
}

.introduction>svg>g>g>line {
  stroke: var(--accent);
  fill: var(--bodycolor)
}

.introduction>svg>g>g>g>rect {
  stroke: var(--accent);
  fill: var(--bodycolor)
}
.intro__aboutme, .comapnies__header{
    color:  white;
    padding:  40px 20px 20px 20px;
    background-color: var(--accent);
    text-align: center;
    display: inline-block;
    width: 90%;
}

.intro__aboutme, .comapnies__header>h2{
    font-weight: 300;
}

.intro__aboutme>h3, .comapnies__header>h3{
    font-weight: 100;
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.5;
}

.techstack{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 30px auto;
    min-height: 300px;
    max-width: 800px;
}

.techstack>.fab{
    color: black!important;
    
}

.frontend,.backend,.deployment{
    padding: 5px;
    flex:  0.3;
    font-weight: 300;
    text-align: center;
}

.frontend>h3,.backend>h3,.deployment>h3{
     font-weight: 100;
    margin-top: 20px;
    line-height: 1.5;
}

.techstack__icons{
    font-size: 50px;
    color: lightgrey;
    margin-bottom: 20px;
}

.techstack__borderleft{
    border-left:1px solid var(--accent)
}

h5{
    font-weight: 100;
    margin-top: 20px;
    line-height: 1.5;
}


.techstack__chart__container{
    width: 800px;
    margin: auto
}

.techstack__lib{
    margin-top: 30px;
}

.techstack__lib__name {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    background: var(--accent);
    color: white;
}

.techstack__lib__name:hover{
    color: black;
    background-color: white;
    font-weight: 700;
}

.companies>img{
    width: 200px;
    position: relative;
    bottom: -20px
}

.companies__grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    max-width: 1000px;
    margin: auto;
}

.companies__grid__item {
    border: 1px  solid var(--accent);
    border-radius: 5px;
    margin:  5px;
    padding:  5px;
    transition: all 0.5s;
    max-height: 350px;
}

.companies__grid__item>h5{
    margin-top: 20px;
    color:  var(--accent);
}

.companies__grid__item>h4{
    margin-top: 20px;
}

.companies__grid__item:hover{
    background-color: var(--accent) !important;
    color: white  !important;
    border: 1px dashed white
}

.companies__grid__item:hover .companies__goto__website{
    border: 1px  solid white;
    color: white;
    background-color: var(--accent);
    box-shadow: 2px 2px 12px 3px;
}



.more__on__git, .companies__goto__website, .email__me{
    cursor: pointer;
    background-color: var(--accent);
    color: var(--bodycolor);
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid grey;
}


.more__on__git:hover, .email__me:hover {
    border: 1px  solid white;
    color: var(--accent);
    background-color: var(--bodycolor);
    box-shadow: 2px 2px 12px 3px;
}

.testimonials__container{
    margin-top: 50px;
    text-align: center;
}

.mySlides {
    display:none
}

.testimony__header>h4{
    font-weight: 100;
    margin-top: 20px;
}

.testimonies{
    max-width: 650px;
    margin: 30px auto
}

.mySlides>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.mySlides>h3{
    font-weight: 100;
    margin-top: 30px;
}

.mySlides>h4{
    margin-top: 20px;
}

.mySlides>h5{
    margin-top: 0px;
}

.footer {
    height: 100px;
    background-color: var(--accent);
    color: white;
    text-align: center;
    padding: 20px;
}

.footer>h3{
    margin-bottom: 30px;
    font-weight: 100;
}

.foooter__icons{
    margin-top: 30px;
}

.foooter__icons>a{
    text-decoration: none;
}

.footer__icon{
    color: var(--bodycolor);
    font-size: 20px;

}

.contact__me{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    max-width: 900px;
    margin: auto;
    border-bottom: 2px solid lightgrey;
}

.contact__form>form{
    display: grid;
    background: var(--accent);
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    text-align: center;
}

form>textarea {
    resize: none;
    padding: 5px;
    background: transparent;
    margin: 10px;
    border: none;
    color: var(--bodycolor);
    border-left: 1px solid var(--bodycolor)  !important;
}

form>input{
    background: transparent;
    border-left: 1px solid var(--bodycolor) !important;
    border: none;
    margin: 10px;
    color: var(--bodycolor);
    height: 30px;
    padding: 5px;
}

form>button{
       margin: 5px;
    height: 30px;
    width: 10p;
    background: var(--bodycolor);
    color: var(--accent);
    border: none;
    border-radius: 10px;
}

.contact__card>img{
    width: 200px;
    border-radius: 50%;
}

.contact__card{
    padding:  10px;
    text-align: center;
}

.contact__me__container{
    text-align: center;
}

.contact__me__container>h2{
    margin: 20px 0px;
}


.chart__container{
    display:   grid;
    grid-template-columns: auto auto;
    text-align: center;
    max-width: 1500px;
    margin: 10px auto;
}

.companies>i{
    position: relative;
    bottom: -20px;
    font-size: 150px;
    color: var(--accent);
}

/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

/* Grid-related CSS */

:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
  display: inline-grid;
  grid-template-areas: "empty months"
                       "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}


/* Other styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
}

.graph {
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #ebedf0;
}

.squares li[data-level="1"] {
  background-color: #c6e48b;
}

.squares li[data-level="2"] {
  background-color: #7bc96f;
}

.squares li[data-level="3"] {
  background-color: #196127;
}

ul, li { list-style-type: none; }

.github__contributions{
    margin: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  transition: all 1s ease-in;
}

.modal-content>h3{
    color: var(--accent);
    font-weight: 100;
    margin-top: 20px;
}


/* The Close Button */
.close {
  background: transparent;
    height: 30px;
    padding: 0px 10px;
    margin-top: 20px;
    width: 100px;
    border: 1px solid var(--accent);
    border-radius: 5px;
}
.close:hover{
    color: white !important;
    background: var(--accent);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .companies__grid{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    max-width: 1000px;
    margin: auto;
}

.modal-content{
    width: auto;
}

.github__contributions{
    overflow-x: scroll;
}

.contact__me{
    grid-template-columns: auto;
}

.chart__techs{
    overflow-x: scroll;
}

.chart__container{
    display:   grid;
    grid-template-columns: auto;
    text-align: center;
    max-width: 768;
}

.introduction>img{
    width: 350px !important;
    bottom: -75px;
}
    
 .introduction>svg{
   width: 350px !important;
   bottom: -75px;
}

.techstack__chart__container{
    display: none;
}

.techstack{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 30px auto;
    min-height: 300px;
    max-width: 800px;
}

.header{
    display: block;
}

.header__right{
    margin-top: 10px;
}

.welcome>h2{
    display: block;
    width:  auto;
}
.item{
    margin-top: 10px;
}
}
